#main {
  display: flex;
  height: 100vh;
}
#mainheader {
  width: 15%;
  background-color: rgb(32, 116, 147);
  color: #fff;
}

.mainContent {
  width: 85%;
  height: 100vh;
  overflow-y: scroll;
}
section {
  min-height: 100vh;
  background-color: rgb(92, 168, 162);
}
section:nth-child(even) {
  min-height: 100vh;
  background-color: rgb(64, 91, 161);
  color: #fff;
}
